body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    font-family: Arial, sans-serif;
}
.explanation {
    width: 85%;
    font-size: 12px;
    position: absolute;
    top: 100%;
    left: 20%;
    color: white;
}
.main {
    width: 100%;
    height: 100%;
}
.back {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: 54px;
    text-decoration: none;
    color: white;
}
.video-background {
    width: 100%;
    height: 75vh; /* 75% of the viewport height */
    object-fit: cover;
    position: absolute;
    display: block;
}
.main .title {
    font-size: 60px;
    position: absolute;
    color: white;
    bottom: 0;
}

@media screen and (max-width:768px){
    .video-background {
        width: 75%;
        height: 50%;
        top: auto;
    }
    .main .title {
        top: 42%;
        left: auto;
    }
    .explanation {
        width: 85%;
        font-size: 12px;
        position: absolute;
        top: 60%;
        left: auto;
        color: white;
    }
}

@media screen and (min-width:769px){
    .video-background {
        width: 100%;
        height: 100%;
    }

    .main .title {
        font-size: 60px;
        left: 2%;
    }
}