.footer {
    background-color: black;
    color: #F8F8F8;
    padding: 20px;
    display: flex;
    justify-content: center; /* Center the footer content */
}

.footer .container {
    display: flex;
    justify-content: space-between;
    width: 50%; /* 50% for the columns (16.6% each) and 25% free space on each side */
}

.footer .column {
    width: 16.6%;
    text-align: center;
    font-size: calc(1vw + 1vh); /* Responsive font size based on viewport */
    text-wrap: nowrap;
}

.footer .column ul {
    list-style: none;
    padding: 0;
}

.footer .column ul li {
    padding: 5px 0;
    color: rgba(248, 248, 248, 0.7); /* Off-white with 70% opacity for a greyer look */
    transition: color 0.3s ease-in-out;
}

.footer .column ul li:hover {
    color: rgba(248, 248, 248, 1); /* Full opacity on hover for better visibility */
}

@media screen and (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Use full width on mobile devices */
    }
    .footer .column {
        width: 100%; /* Full width for each column on mobile devices */
        padding: 10px 0;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightgray;
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

.jost-light {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal
}
