.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px; /* Ensure a fixed height for vertical centering */
}

.header .title {
    color: white;
    text-decoration: none;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    text-align: center;
    vertical-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header .nav-buttons {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align the nav buttons to the right */
    animation: slideIn 0.5s forwards; /* Add animation to slide in */
    position: absolute;
    right: 1%;
}

.header .nav-buttons .menu-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px; /* Adjust font size for better visibility */
}

.header .nav-buttons a {
    color: white;
    padding: 10px 15px;
    text-decoration: none; /* Remove underline from nav links */
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards;
}

.header .nav-buttons a:nth-child(1) {
    animation-delay: 0.1s;
}

.header .nav-buttons a:nth-child(2) {
    animation-delay: 0.2s;
}

.header .nav-buttons a:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.header .nav-buttons a:hover {
    background-color: #0b0b0b;
}

.header .nav-buttons .dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #0b0b0b;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 10;
    border: 1px solid #ccc;
    text-wrap: nowrap;
}

.header .nav-buttons .dropdown-menu a {
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.header .nav-buttons .dropdown-menu a:hover {
    background-color: #0b0b0b;
}

@media screen and (max-width: 768px) {
    .desktop-nav {
        display: none; /* Hide desktop navigation on mobile devices */
    }
    .mobile-nav {
        display: flex; /* Show mobile navigation on mobile devices */
    }

    .header .nav-buttons button {
        display: block; /* Show the button on mobile devices */
    }
    .header .nav-buttons a {
        display: none; /* Hide the normal links on mobile devices */
    }
    .header .title {
        font-size: 26px;
    }
    .header .nav-buttons .dropdown-menu a {
        display: block; /* Hide the dropdown on desktop devices */
    }
}

@media screen and (min-width: 769px) {
    .desktop-nav {
        display: flex; /* Show desktop navigation on mobile devices */
    }
    .mobile-nav {
        display: none; /* Hide mobile navigation on desktop devices */
    }
    .header .nav-buttons button {
        display: none; /* Hide the button on desktop devices */
    }
    .header .nav-buttons .dropdown-menu a {
        display: none; /* Hide the dropdown on desktop devices */
    }
}

.jost {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

.jost-light {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal
}

/* Hide scrollbars on all elements */
* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}